@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid #111;
  padding: 5px;
  background-color: #111;
  border-radius: 10px;
}

.resultcon {
  display: none;
  margin: 30px;
}

.title {
  border-bottom: 1px solid #111;
  margin: 5px;
  padding: 5px;
  color: #ddd;
}

#result0,
#result1,
#result2,
#result3 {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  color: #ddd;
}

#check-btn {
  margin: 20px;
  padding: 5px;
  background-color: #111;
  color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  margin: 50px;
}

label {
  margin: 20px;
}

input {
  padding: 5px;
}
